In [1]:
#Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import itertools
import matplotlib.gridspec as gridspec
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
test = pd.read_csv("test.csv", sep=',',index_col=[0])
train = pd.read_csv("train.csv", sep = ',',index_col=[0])
submission = pd.read_csv("submission.csv", sep=',',index_col=[0])

In [3]:
test.head()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
0,Apcnt_1000032,3236.0,0.34875,10.2006,0.0000,0.0,418564.0,418564.0,418564.0,540710.0,...,NaN,0.825000,1.01,0.800000,NaN,0.0,charge,NaN,0.000000,0.011221
1,Apcnt_1000048,3284.0,1.27360,2.9606,9.0198,0.0,0.0,9858816.0,49014.0,1510098.0,...,18.8415,0.507694,4.04,0.623248,1.0,0.0,lending,NaN,0.504974,0.043525
2,Apcnt_1000052,NaN,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,charge,NaN,0.000000,NaN
3,Apcnt_1000076,3232.0,0.28505,2.8032,0.0000,0.0,0.0,473802.0,473802.0,1724437.0,...,NaN,0.916663,2.02,0.464224,NaN,NaN,charge,90.163742,0.788809,0.104029
4,Apcnt_1000080,3466.0,2.09545,0.8318,2.5182,0.0,19839.0,1150662.0,1150662.0,7860523.0,...,NaN,0.234047,23.23,0.726688,0.0,0.0,lending,1303.587148,1.637733,0.163124

In [4]:
#train.dtypes

In [5]:
test.to_csv('test.csv')
train.to_csv('train.csv')
submission.to_csv('submission.csv')

In [6]:
#train.head().T

In [7]:
# Convert ff47 and ff50 categorical variables to 0 and 1
new_train = pd.get_dummies(train, columns=['form_field47','default_status'])

In [8]:
# Drop duplicate columns
train_drop = new_train.drop(['form_field47_lending','default_status_yes'], axis=1)

In [9]:
# Rename the columns
train_rename = train_drop.rename(columns = {"form_field1":'Creditworthiness_score',"form_field2":'CreditEnquiredRisk',
                                            "form_field3":'LoanDefaultSeverityAll',"form_field4":'LoanDefaultSeverityAuto',
                                            "form_field5":'LoanDefaultSeverityEdu',"form_field6":'MinCreditAvailAfterPayments',
                                            "form_field7":'MaxCreditAvailActiveAll',"form_field8":'MaxCreditAvailAfterPayments',"form_field9":'SumOfAvailCreditMissed1Pay',
                                            "form_field10":'TotalCreditAvailActiveAll',"form_field11":'PostDefaultDuesCollectedA500',
                                            "form_field12":'TotalDueActive',"form_field13":'AllAnnualPaidPreviousYear',
                                            "form_field14":'AnnualIncome',"form_field15":'PropertyMarketValue',
                                            "form_field16":'NumActiveCCardsPaidOffFullCreditUsed',"form_field17":'NumActiveCCardsFullCreditUsed',
                                            "form_field18":'NumActiveFullCLinesFullCreditUsed',"form_field19":'NumActiveCCards75pCreditUsed',
                                            "form_field20":'NumActiveCLines75pCreditUsed',"form_field21":'%AverageUseOfCCardLoans',
                                            "form_field22":'%AverageUseOfCLines2Yrs',"form_field23":'%AverageUseOfCCards1Yr',
                                            "form_field24":'%AverageUseOfCLines6MoMiss1',"form_field25":'AverageTenureofActiveRevolveCardsinDays',
                                            "form_field26":'TenureofOldestCCardsinDays',"form_field27":'TenureofOldestRevolvingCCardsinDays',
                                            "form_field28":'NumOfDaysonlastmissedCLine',"form_field29":'TenureofOldestCLineinDays',
                                            "form_field30":'MaxTenureonAutoLoansinDays',"form_field31":'MaxTenureonEduLoansinDays',
                                            "form_field32":'SumTenureonActiveCCardsinMonth',"form_field33":'SumTenureonActiveCLinesinMonth',
                                            "form_field34":'NumOfCLineslast6MoMiss1', "form_field35":'NumOfRevolveCCardslast2YrMiss1',
                                            "form_field36":'NumActiveCLines',"form_field37":'NumCCardsActiveTenure2Yrs',
                                            "form_field38":'ActivatedCLinesinlast2Yrs',"form_field39":'NumActiveCLinesDeliquent',
                                            "form_field40":'%UseCLinesonEduLoan',"form_field41":'%UseCLinesonAutoLoan',
                                            "form_field42":'FinanceStressIndex',"form_field43":'NumberCLinesPaidHighRisk',
                                            "form_field44":'DebtRatio1Max',"form_field45":'NumOfHomeLoansMissed2x',
                                            "form_field46":'NumOfAutoLoansMissed2x',"form_field50":'DebtRatio1Min',
                                            'form_field47_charge': 'ProductApplicatn', 'default_status_no': 'default_status'}, inplace = False)

In [10]:
len(train_rename)

56000

In [11]:
#train_rename.isnull().sum()

In [12]:
#train_1.isnull().sum()

In [13]:
# Begin cleaning process
#Fill with mean
#train_1['Creditworthiness_score'] = train_1['Creditworthiness_score'].fillna(train_1['Creditworthiness_score'].mean())
#train_1 = train_1.fillna(train_1.mean())

In [14]:
#train_1.isnull().sum()

In [15]:
#train_final = train_rename.dropna()

In [16]:
#Checking for correlation between features
#fig, ax = plt.subplots(figsize=(20,10))
#corr = train_1[train_1.columns].corr()
#sns.heatmap(corr, annot=True, linewidths=0.5)

In [17]:
#train_1.fillna(0, inplace=True)

In [18]:
train_rename.shape

(56000, 52)

In [19]:
#train_rename.tail(20)

In [20]:
#train_rename['Creditworthiness_score'] = pd.to_numeric(train_rename['Creditworthiness_score'], errors='coerce')

In [21]:
#train_rename.isnull().sum() #Investigate each variable to determine what to do with the null values

In [22]:
#train_rename.isnull()==True

In [23]:
#Exploratory data analysis
#train_rename.describe().T

In [24]:
#train_rename.head(20)

In [25]:
train_rename['default_status'].value_counts(normalize=True)

1    0.755089
0    0.244911
Name: default_status, dtype: float64

In [26]:
#train_rename.info()

In [27]:
#Fill with mode
#cols = ['LoanDefaultSeverityAll','LoanDefaultSeverityAuto', 'LoanDefaultSeverityEdu']
#train_rename['LoanDefaultSeverityAll'] = train_rename['LoanDefaultSeverityAll'].fillna(train_rename['LoanDefaultSeverityAll'].mode()[0])
#train_rename['LoanDefaultSeverityAuto'].fillna(train_rename['LoanDefaultSeverityAuto'].mode()[0])
#train_rename['LoanDefaultSeverityEdu'].fillna(train_rename['LoanDefaultSeverityEdu'].mode()[0])

#Fill with zero
#train_rename[cols]=train_rename.filter(cols).fillna(mode.iloc[0])

In [28]:
#train_feature = train_1.drop(['Applicant_ID'], axis=1)

In [29]:
#len(train_feature)

## Model

In [35]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, precision_recall_curve, f1_score
from sklearn.decomposition import PCA
from sklearn import linear_model
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.metrics import roc_curve, auc, log_loss
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
from scipy.stats import mode
from sklearn.metrics import silhouette_score
from itertools import permutations
from tqdm import tqdm
#import swifter
from itertools import combinations
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit, cross_val_score, KFold, GridSearchCV, StratifiedKFold
from sklearn.metrics import balanced_accuracy_score, auc, mean_squared_error, roc_curve, confusion_matrix, precision_score, recall_score, f1_score,\
log_loss, roc_auc_score
from sklearn.impute import SimpleImputer
#from imblearn.over_sampling import SMOTE
#from imblearn.pipeline import Pipeline

In [36]:
#Values for predictor, dropping off the target
X = train_rename.drop(['Applicant_ID','default_status'], axis=1)

#Values for target
y = train_rename['default_status'].values # y is output (or dependent) variable

# Standardize the data
#X = RobustScaler().fit_transform(X)

In [37]:
#Cross-Validation routine

from lightgbm import LGBMClassifier

from xgboost import XGBClassifier

rand = 40

fold = StratifiedKFold(n_splits= 5, shuffle= True, random_state= rand)

i = 1

err = []

#Standardize
#scaler = StandardScaler()

#for train_index, test_index in fold.split(train, target):

    #print('fold n°: ', i)

    #x_data, x_val = train.iloc[train_index], train.iloc[test_index]

    #y_data, y_val = target.iloc[train_index], target.iloc[test_index]
    
    

    #x_data = x_data.drop(['default_status','combiner', 'Applicant_ID'], axis = 1)
    
    #x_val = x_val.drop(['default_status','combiner', 'Applicant_ID'], axis = 1)
    
    
#     x_data['ProductType'].fillna(0.5, inplace = True)
    
#     x_val['ProductType'].fillna(0.5, inplace = True)
    
lgb_model = LGBMClassifier(n_estimators = 1500, learning_rate = 0.01,  reg_lambda = 10, random_state = rand)
    
#     'subsample': 0.4, 'reg_alpha': 5, 'n_estimators': 1200, 'min_child_weight': 1, \
#                     'max_depth': 6, 'learning_rate': 0.05, 'gamma': 0, 'colsample_bytree': 0.8}

     
        
lgb_model.fit(X, y.ravel(), eval_set= [(X, y.ravel())], \
              early_stopping_rounds= 500,\
              verbose= 100, eval_metric = ['auc'])
        
y_train_pred = lgb_model.predict_proba(X)[:,1]

    #y_test_pred = lgb_model.predict_proba(x_val)[:,1]
    
    
    
        
print('auc train', roc_auc_score(y, y_train_pred))
    #print('auc test',  roc_auc_score(y_val, y_test_pred))
    
    
    
#err.append(roc_auc_score(y, y_test_pred))


i = i + 1
print('Mean auc test: ', np.mean(err))

Training until validation scores don't improve for 500 rounds
[100]	valid_0's auc: 0.835921	valid_0's binary_logloss: 0.445909
[200]	valid_0's auc: 0.844506	valid_0's binary_logloss: 0.414395
[300]	valid_0's auc: 0.850111	valid_0's binary_logloss: 0.400883
[400]	valid_0's auc: 0.855107	valid_0's binary_logloss: 0.392906
[500]	valid_0's auc: 0.859565	valid_0's binary_logloss: 0.387098
[600]	valid_0's auc: 0.863529	valid_0's binary_logloss: 0.382375
[700]	valid_0's auc: 0.867105	valid_0's binary_logloss: 0.37827
[800]	valid_0's auc: 0.870252	valid_0's binary_logloss: 0.374719
[900]	valid_0's auc: 0.873304	valid_0's binary_logloss: 0.371346
[1000]	valid_0's auc: 0.876154	valid_0's binary_logloss: 0.368182
[1100]	valid_0's auc: 0.878898	valid_0's binary_logloss: 0.365137
[1200]	valid_0's auc: 0.881541	valid_0's binary_logloss: 0.362236
[1300]	valid_0's auc: 0.884037	valid_0's binary_logloss: 0.35947
[1400]	valid_0's auc: 0.886457	valid_0's binary_logloss: 0.356743
[1500]	valid_0's auc: 0.888819	valid_0's binary_logloss: 0.354091
Did not meet early stopping. Best iteration is:
[1500]	valid_0's auc: 0.888819	valid_0's binary_logloss: 0.354091
auc train 0.8888188067783535
Mean auc test:  nan

In [38]:
#conda install lightgbm

## Test Data

In [39]:
# Convert ff47 and ff50 categorical variables to 0 and 1
new_test = pd.get_dummies(test, columns=['form_field47'])

In [40]:
test_rename = new_test.rename(columns = {"form_field1":'Creditworthiness_score',"form_field2":'CreditEnquiredRisk',
                                            "form_field3":'LoanDefaultSeverityAll',"form_field4":'LoanDefaultSeverityAuto',
                                            "form_field5":'LoanDefaultSeverityEdu',"form_field6":'MinCreditAvailAfterPayments',
                                            "form_field7":'MaxCreditAvailActiveAll',"form_field8":'MaxCreditAvailAfterPayments',"form_field9":'SumOfAvailCreditMissed1Pay',
                                            "form_field10":'TotalCreditAvailActiveAll',"form_field11":'PostDefaultDuesCollectedA500',
                                            "form_field12":'TotalDueActive',"form_field13":'AllAnnualPaidPreviousYear',
                                            "form_field14":'AnnualIncome',"form_field15":'PropertyMarketValue',
                                            "form_field16":'NumActiveCCardsPaidOffFullCreditUsed',"form_field17":'NumActiveCCardsFullCreditUsed',
                                            "form_field18":'NumActiveFullCLinesFullCreditUsed',"form_field19":'NumActiveCCards75pCreditUsed',
                                            "form_field20":'NumActiveCLines75pCreditUsed',"form_field21":'%AverageUseOfCCardLoans',
                                            "form_field22":'%AverageUseOfCLines2Yrs',"form_field23":'%AverageUseOfCCards1Yr',
                                            "form_field24":'%AverageUseOfCLines6MoMiss1',"form_field25":'AverageTenureofActiveRevolveCardsinDays',
                                            "form_field26":'TenureofOldestCCardsinDays',"form_field27":'TenureofOldestRevolvingCCardsinDays',
                                            "form_field28":'NumOfDaysonlastmissedCLine',"form_field29":'TenureofOldestCLineinDays',
                                            "form_field30":'MaxTenureonAutoLoansinDays',"form_field31":'MaxTenureonEduLoansinDays',
                                            "form_field32":'SumTenureonActiveCCardsinMonth',"form_field33":'SumTenureonActiveCLinesinMonth',
                                            "form_field34":'NumOfCLineslast6MoMiss1', "form_field35":'NumOfRevolveCCardslast2YrMiss1',
                                            "form_field36":'NumActiveCLines',"form_field37":'NumCCardsActiveTenure2Yrs',
                                            "form_field38":'ActivatedCLinesinlast2Yrs',"form_field39":'NumActiveCLinesDeliquent',
                                            "form_field40":'%UseCLinesonEduLoan',"form_field41":'%UseCLinesonAutoLoan',
                                            "form_field42":'FinanceStressIndex',"form_field43":'NumberCLinesPaidHighRisk',
                                            "form_field44":'DebtRatio1Max',"form_field45":'NumOfHomeLoansMissed2x',
                                            "form_field46":'NumOfAutoLoansMissed2x',"form_field50":'DebtRatio1Min',
                                            'form_field47_charge': 'ProductApplicatn', 'default_status_no': 'default_status'}, inplace = False)

In [41]:
test_rename.head()

,Applicant_ID,Creditworthiness_score,CreditEnquiredRisk,LoanDefaultSeverityAll,LoanDefaultSeverityAuto,LoanDefaultSeverityEdu,MinCreditAvailAfterPayments,MaxCreditAvailActiveAll,MaxCreditAvailAfterPayments,SumOfAvailCreditMissed1Pay,...,FinanceStressIndex,NumberCLinesPaidHighRisk,DebtRatio1Max,NumOfHomeLoansMissed2x,NumOfAutoLoansMissed2x,form_field48,form_field49,DebtRatio1Min,ProductApplicatn,form_field47_lending
0,Apcnt_1000032,3236.0,0.34875,10.2006,0.0000,0.0,418564.0,418564.0,418564.0,540710.0,...,0.825000,1.01,0.800000,NaN,0.0,NaN,0.000000,0.011221,1,0
1,Apcnt_1000048,3284.0,1.27360,2.9606,9.0198,0.0,0.0,9858816.0,49014.0,1510098.0,...,0.507694,4.04,0.623248,1.0,0.0,NaN,0.504974,0.043525,0,1
2,Apcnt_1000052,NaN,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,...,NaN,0.00,NaN,NaN,NaN,NaN,0.000000,NaN,1,0
3,Apcnt_1000076,3232.0,0.28505,2.8032,0.0000,0.0,0.0,473802.0,473802.0,1724437.0,...,0.916663,2.02,0.464224,NaN,NaN,90.163742,0.788809,0.104029,1,0
4,Apcnt_1000080,3466.0,2.09545,0.8318,2.5182,0.0,19839.0,1150662.0,1150662.0,7860523.0,...,0.234047,23.23,0.726688,0.0,0.0,1303.587148,1.637733,0.163124,0,1

In [42]:
# Drop duplicate columns
test_drop = test_rename.drop(['form_field47_lending'], axis=1)

In [43]:
train_rename.shape

(56000, 52)

In [44]:
test_drop.shape

(24000, 51)

In [45]:
#test_rename = test_rename[col_test]

In [94]:
#lgb_model.fit(train_rename.drop(['default_status', 'Applicant_ID'], axis = 1), train_rename['default_status'].ravel())

In [95]:
y_pred  = lgb_model.predict_proba(test_drop.drop(['Applicant_ID'],axis = 1))[:,1]

In [96]:
#test_1.columns

In [97]:
#Fill with mean
#test_1['Creditworthiness_score'] = test_1['Creditworthiness_score'].fillna(test_1['Creditworthiness_score'].mean())
#test_final = test_1.fillna(test_1.mean())

In [98]:
#test_1.shape

In [99]:
#test_final = test_rename

In [100]:
#test_1.fillna(0, inplace=True)

In [101]:
#test_final.head()

In [102]:
#test_final = test_rename[new_columns]

In [103]:
#test_final.columns

In [104]:
#test_final2 = test_final.drop(['DebtRatio1'], axis=1)

In [105]:
#test_final.columns

In [106]:
#test.shape

In [107]:
#test_final.shape

In [108]:
#train_feature.shape

In [109]:
#test_2 = RobustScaler().fit_transform(test_final)

In [110]:
submissions = pd.DataFrame()
submissions['Applicant_ID'] = test_drop['Applicant_ID']

In [111]:
# predict with probability of 80 % and above
#y_pred_proba = pipeline.predict(test_2)
#y_pred_proba = logistic_regression.predict_proba(test_final2)[:,1]
#y_pred = (y_pred_proba >= 0.2).astype('int')
#CM = confusion_matrix(y_pred=y_pred_test, y_true=y_test)
#print("Recall: ", 100*recall_score(y_pred=y_pred_test, y_true=y_test))
#print("Precision: ", 100*precision_score(y_pred=y_pred_test, y_true=y_test))
#CMatrix(CM)
#submissions['probability (%)'] = y_pred_proba*100

In [112]:
y_pred

array([0.66996289, 0.63557723, 0.61536595, ..., 0.77794512, 0.50900586,
       0.81662142])

In [113]:
len(y_pred)

24000

In [114]:
submissions['default_status'] = y_pred

In [115]:
submissions.head()

    Applicant_ID  default_status
0  Apcnt_1000032        0.669963
1  Apcnt_1000048        0.635577
2  Apcnt_1000052        0.615366
3  Apcnt_1000076        0.246722
4  Apcnt_1000080        0.881149

In [116]:
len(submissions)

24000

In [117]:
submissions.to_csv('submissions_4.csv', index=False)